name: deploy-dev

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy DEV
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'

      - name: Install & Build
        run: |
          yarn install
          yarn build

      - name: Deploy to S3 and Invalidate CloudFront (DEV)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ap-northeast-2
        run: |
          aws s3 sync ./dist s3://c0912jy-action-dev --delete
          aws cloudfront create-invalidation \
            --distribution-id EGYA9H4WGTZXH \
            --paths "/*"
